@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-outline-dark {
    -webkit-text-stroke: 1px #1E293B;
  }
  .font-outline-light {
    -webkit-text-stroke: 1px #CBD5E1;
  }
}

.running-text-container {
  width: 100%;
  overflow: hidden;
}

.running-text {
  white-space: nowrap;
  animation: running-text-animation 10s linear infinite;
}

@media screen and (min-width: 768px) {
  .running-text {
  white-space: nowrap;
  animation: running-width 15s linear infinite;
  }
}

@keyframes running-text-animation {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-245%); }
}

@keyframes running-width {
  0% {transform: translateX(100%);}
  100% {transform: translateX(-170%);}
}